<% if notice %>
	<div id = "notice" class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<p><strong>Warning! </strong> <%= notice %></p>
	</div>
<% end %>

<div class="cart_title">Your Cart</div>
<table class="table">
  <%= render(@cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>

</table>

<%= link_to 'Back', carts_path %>