/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */
 
/* START_HIGHLIGHT */
#banner_span {
  padding: 0;
  
  #banner{
    background: #000000;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 0;
    height: 40px; 
    position: fixed;
    
    #logo img{
      height: 45px;
    }
    
    li a{
      padding: 12px;
      font-size: 15px;
      color: #FF7744;
    }
    #profile h4{
      color: #DDDDDD;
      margin-top: 0px;
    } 
    #profile .button_to{
      padding-top: 8px;
    }
    
    .locale{
      padding-top: 8px;
      padding-bottom: 8px;
      
      select {
        width: auto;
        font-size: 15px;
        color: #FFFFFF;
        background-color: #000000 ;
        border: 1px solid #cccccc;
      }
    }
    
  }
  #notice {
    font-size: 22px;
    margin-left: 20px;
    /*
    color: #000 !important;
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    font: bold smaller sans-serif;
    */
  }
  
  #columns {
    
    margin-top: 100px;
    
    #side {
     width: 250px;
     
     select{
       width: auto;
     }
     
      form, div {
        display: inline;
        input {
           font-size: small;
        }      
      }
      
      #cart {
        color: #444444;
        font-size: 24px;
        font-weight: bold;
        
        /*
        .cart_title, table  tr td{
          background-color: #444444;
        }
        */
      }
      
      ul {
        padding: 0;
        li {
          list-style: none;
         a {
            color: #A42D00;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
          }
          a:hover{ 
            color: #000000;
            background-color: #DDDDDD;
          }  
        }
      }
      
    }
    
  }      
}
  

/* END_HIGHLIGHT */


.depot_form fieldset {
  background: #efe;
}

.depot_form legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.depot_form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.depot_form select , .depot_form textarea , .depot_form input {
  margin-left: 0.5em;
}

.depot_form .submit {
  margin-left: 4em;
}

.depot_form br {
  display: none;
}

.locale {
  float: right;
  margin: -0.25em 0.1em;
}
